html {
	font-family : sans-serif, arial;
}

h2{	font-size: 3rem; font-weight: 300;}

h3{	font-size: 2rem; font-weight: 300;}

#corps
{
	width : 70%;
	margin : auto;
	text-align:justify;
	font-weight: 300;
}


#corps ul
{
	margin-left: 50px;
}

#corps ul>li
{
	list-style:disc;
}

.article img
{
	width : 500px;
}

footer
{
	margin : auto;
	text-align : center;
}

.footer-copyright a
{
	color: rgba(255,255,255,1.0);
	text-decoration: underline;
}

#titre-site
{
	text-shadow: 0 0 7px rgba(0,0,0, 0.5);
}

.parallax-container
{
    height: 400px;
}

#menu > ul  > li
{
	display : inline;
	margin : 10px;
}

#logo
{
	font-size: 3em;
}

.promo-caption
{
	font-size: 1.7rem;
	font-weight: 500;
	margin-top: 5px;
	margin-bottom: 0;
}

.divider
{
    height: 1px;
    overflow: hidden;
    background-color: #e0e0e0;
}
