html {
	font-family : sans-serif, arial;
}

#corps
{
	width : 50%;
	margin : auto;
	text-align:justify;
}

footer
{
	width : 50%;
	margin : auto;
	text-align : center;
}

header
{
	width : 50%;
	margin : auto;
	text-align : center;
}

#menu > ul  > li
{
	display : inline;
	margin : 10px;
}